<h1 class="block">Ships</h1>
<div>We have <%= Ship.count %> ships and counting!</div>

<ul class="list-disc">
  <% @ships.each do |ship| %>
    <li>
      <%= link_to ship.name, ship %>
    </li>
  <% end %>
</ul>